<div class="paths-wrap">
  <section class="routes">
    <section class="route">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Nueva Ruta</h3>
        </div>
        <div class="panel-body">
          Hello
        </div>
    </section>
    
  </section>
</div>