<footer>
      <section class="container">
        <header><h4>ReadyToCharge&Go</h4></header>
        <ul>
          <li><a>Contacto</a></li> |
          <li><a>Términos de uso</a></li> |
          <li><a>Protección de datos</a></li> |
          <li><a href="http://es.linkedin.com/pub/aitor-palacios-zabala/69/bb8/ab1" target="_blank"><img src="static/img/social_linked_in.png"></a></li>
          <li><a href="http://github.com/apalzab" target="_blank"><img src="static/img/social_github.png"></a></li>
        </ul>
      </section>
  </footer>