<footer>
  <section class="container">
    <header><h4>EcoElcar</h4></header>
    <ul>
      <li><a href="#"><%= I18n.t("footer.contact") %></a></li> |
      <li><a href="#"><%= I18n.t("footer.terms_of_use") %></a></li> |
      <li><a href="#"><%= I18n.t("footer.data_protection") %></a></li>
    </ul>
  </section>
</footer>