// Colors
$light-blue: #77c8cf;
$dark-blue: #2c3e50;


// Footer and page-wrap
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -105px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 105px; 
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  header {
    padding: 1em;
  }
  a {
    color: #fff;
    &:hover {
    text-decoration: none;
    color: #77c8cf;
    }
  }
  ul li {
    display: inline;
    list-style-type: none;
  }
}

li {
  list-style-type: none;
}

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.pointer {
  cursor: pointer;
}

/* nav bar */

.navbar {
  background-color: #333;
}

.nav.navbar-nav li a {
  // top: .4em;
}

.navbar-header {
  margin-left: 2em;
}

.navbar-default {
  border-color: none;
}

.navbar-default .navbar-collapse {
  // padding: .4em;
}

.navbar-brand {
  font-size: 26px;
  line-height: 26px;
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 2em;
  text-align: center;
}

.navbar-default .navbar-toggle {
  border: none;
  &:hover {
    background: none;
  }
}

.dropdown.open {
  background-color: #333;
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand, .dropdown,
.header ul li,
footer a {
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: $light-blue;
background-color: #333;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #77c8cf;
  background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #77c8cf;
  background-color: transparent;
}

.dropdown-menu > li:hover, .dropdown-menu > li:focus {
  color: #ffffff;
  cursor: pointer;
  background-color: #77c8cf;
  margin: 0;
  background: $light-blue;
}

.dropdown-menu {
  padding: 0;
  .divider {
    margin: 0;
  }
  li {
    a {
    padding: .7em;
    }
  }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #ffffff;
  cursor: pointer;
  background-color: #77c8cf;
  margin: 0;
  background: $light-blue;
}

.dropdown.open {
  background-color: #333;
  color: #fff;
}

// Buttons
.btn-blue {
  background-color: #77c8cf;
  border-color: #77c8cf;
  opacity: .8;
  color: white;
  &:hover {
    opacity: 1;
    color: white;
  }
}

.btn-primary {
  color: #ffffff;
  background-color: $dark-blue;
  border-color: $dark-blue;
}

.btn-default {
  color: #ffffff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}

// Fonts
@font-face {
  font-family: 'OpenSans-Light';
  src: url("Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

strong {
  font-family: 'OpenSans-Bold';
}

html,
body, h1, h2, h3, h4 {
  font-family: 'OpenSans-Light';
}

.alert-dismissable .close {
      top: -14px;
      right: -10px;
      opacity: .6;
    }

.notice {
  margin-top: 6em;
  margin-right: 1em;
  position: fixed;
  background: #77c8cf;
  color: white;
  border-radius: 5px;
  padding: 1em;
  right: 0;
  border-color: $light-blue;
}

.panel-primary {
  border: 1px solid #d1d1d1;
  .panel-heading {
    color: black;
    background-color: #fafafa;
    border-bottom: 1px solid #d1d1d1;
  }
  .panel-body {
    background-color: #f1f1e9;
    &.map {
      background-color: white;
    }
  }
}
