.profile-wrap{
  width: 70%;
  margin: 0 auto;
  padding-top: 9em;
  .panels {
    width: 50%;
    margin: 0 auto;
    .panel {
      .panel-title {
        font-size: 1.5em;
      }
      .panel-body {
        ul {
          padding-left: 0;
          list-style: none;
        }
        .car-info {
          ul {
            float: left;
            width: 50%;

          }
          img {
            max-width: 50%;
          }
        }
      }
    }
  }
}
