// Place all the styles related to the Paths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.white-wrap{
  .new-route {
    padding: 1em 2em 57em 2em;
    header {
      padding-bottom: 2em;
    }
    .route {
      width: 55%;
      float: left;
      .type {
        ul {
          li {
            display: inline;
            padding-right: 8em;
          }
        }
      }
    }
    .itinerary {
      width: 40%;
      margin-left: 3em;
      float: right;
    }
    .fellows {
      .btn-default {
        margin-right: .5em;
      }
    }

  }
  .routes {
    padding: 1em 2em 0 2em;
    header {
      padding-bottom: 2em;
    }
    .search {
      ul {
        li {
          width: 30%;
          display: inline;
        }
      }
      .form-dates {
        width: 30%;
        float: left;
        margin-right: 2em;
        margin-bottom: 1em;
        .map-link {
          // color: red;
        }
        .date {
          width: 60%;
          .input-group-addon {
            float: left;
          }
        }
        .input-group-addon {
          float: left;
          padding: .8167em 2em .8167em 1em;
        }
      }
    }
    .order {
      .panel-title {
        padding-top: .4em;
        font-size: 1.5em;
      }
      .btn-primary {
        a {
          color: white;
        }
      }
    }
    .route {
      width: 98%;
      margin: 0 auto;
      clear: both;
      .profile {
        border-right: 1px solid #ecf0f1;
        margin-top: 2em;
        .image {
          width: 40%;
          img {
            max-width: 100%;
            float: left;
            box-shadow: 1px 1px 1px #333;
            border-radius: 5px;
          }
        }
        .description {
          width: 30%;
          // margin: 0 auto;
          float: left;
          margin-left: 2em;
          padding-bottom: 2em;
          span {
            font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400;
            line-height: 1.1;
            color: inherit;
          }
        }
      }
      .info {
        i {
          margin: 0 1em 0 1em;
        }
      }
      .description {
        ul {
          text-align: center;
        }
      }
    }
  }
  .route-info {
    padding: 1em 2em 0 2em;
    overflow: hidden;
    header {
      padding-bottom: 2em;
    }
    .description {
      width: 55%;
      float: left;
      .panel-heading {
         background: white;
         i {
            margin: 0 1em 0 1em;
          }
        }
      .panel-body {
        background: white;
        .publication {
          float: right;
          padding-top: 2em;
        }
      }
    }
    .details {
      float: right;
      width: 30%;
      .panel {
        .panel-heading {
         span {
          font-size: 1.3em;
         }
        }
        .panel-body {
          background: white;
        }
        &.driver {
          margin-top: 2em;
          .panel-body {
            .image {
              width: 32%;
              float: left;
              img {
                max-width: 100%;
              }
            }
            .info {
              padding-left: 2em;
              float: left;
              width: 50%;
            }
          }
        }
      }
    }
  }
}

#map { 
    height: 20em;
    width: 100%;
    &.full {
      width: 100%;
      height: 50em;
    }
}
