// Place all the styles related to the Paths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paths-wrap{
    margin: 0 auto;
    margin-top: 1.5em;
    width: 70%;
    background: white;
    border: 2px solid white;
    border-radius: 2px 2px 2px #333; 
  .new-route {
    padding: 1em 2em 57em 2em;
    header {
      padding-bottom: 2em;
    }
    .route {
      width: 55%;
      float: left;
      .type {
        ul {
          li {
            display: inline;
            padding-right: 8em;
          }
        }
      }
    }
    .itinerary {
      width: 40%;
      margin-left: 3em;
      float: right;
    }

  }
  .routes {
    padding: 1em 2em 0 2em;
    header {
      padding-bottom: 2em;
    }
    .search .panel-heading h1 {
      font-size: 1.3em;
      top: .5em;
    }
    .route {
      width: 98%;
      margin: 0 auto;
      clear: both;
      .profile {
        border-right: 1px solid #ecf0f1;
        margin-top: 2em;
        .image {
          width: 40%;
          img {
            max-width: 100%;
            float: left;
            box-shadow: 1px 1px 1px #333;
            border-radius: 5px;
          }
        }
        .description {
          width: 30%;
          // margin: 0 auto;
          float: left;
          margin-left: 2em;
          padding-bottom: 2em;
          span {
            font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400;
            line-height: 1.1;
            color: inherit;
          }
        }
      }
      .info {
        i {
          margin: 0 1em 0 1em;
        }
      }
      .description {
        ul {
          text-align: center;
        }
      }
    }
  }
}

#map { 
    height: 20em;
    width: 100%;
}